<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Brincando com API do ASP .Net</h1>
            </hgroup>
            <p>
                Para fins de aprendizado resolvi brincar um pouco com API e descobrir neste projeto como ela funciona.
            </p>
            <p>
                Estou sempre em busca de aprender e o código que eu faço esta sempre evoluido, por isso se alguma coisa
                neste projeto te encomada ou esta cheirando mal me avise e vamos discutir uma boa solução e aprender juntos!
                <a href="http://cleytonferrari.com" title="Meu Blog">Meu Blog</a>.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Algumas Tecnologias:</h3>
        <ol class="round">
            <li class="one">
                <h5>ASP .Net Web API</h5>
                ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
                a broad range of clients, including browsers and mobile devices. ASP.NET Web API
                is an ideal platform for building RESTful applications on the .NET Framework.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245160">Saiba mais…</a>
            </li>

            <li class="two">
                <h5>Knockout JS</h5>
                É uma biblioteca javascritp que facilita o bind no HTML, trabalhando no modelo MVVM
                <a href="http://go.microsoft.com/fwlink/?LinkId=245161">Saiba mais…</a>
            </li>
            <li class="three">
                <h5>MongoDB</h5>
                MongoDB é um banco de dados orientado a documento e de muito facil uso
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Saiba mais…</a>
            </li>
        </ol>
    </section>
</div>
